body {
    background-color: #EBEBED;
    padding: 2%;
    text-align: center;
    font-family: calibri, arial, sans-serif;
}

/*
h1, h2, h3, p {
    text-align: center;
    font-family: calibri, arial, sans-serif;
}
*/

.output {
	color: #E68A00;
}